<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0MvalK1jjsawlfvHT986LBxVn2sSQ71E</string>
	<key>GCM_SENDER_ID</key>
	<string>678716967646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Manya.Phase-3</string>
	<key>PROJECT_ID</key>
	<string>phase3-f343a</string>
	<key>STORAGE_BUCKET</key>
	<string>phase3-f343a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678716967646:ios:73d49e2717d6dad478504f</string>
</dict>
</plist>